#TODO: you need to change this file.
# put S3access credentials in this file before building 
# the docker image 

%awsSecretAccessKeys = (
    # personal account
    personal => {
        id => 'VEVTVFNSVQ==',
        key => 'd9417fa878ce50236f4dbdb25f335f57',
    },

    # corporate account
    company => {
        id => 'VEVTVFNSVQ==',
        key => 'd9417fa878ce50236f4dbdb25f335f57',
    },
);
